*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

body {
  text-align: center;
  font-family: Merriweather;
}

.banner {
  background: #191970;
  padding: 1.5em 0;
  color: #fff;
}

.intro {
  width: 30%;
  min-width: 320px;
  margin: 30px auto 20px;
}

main {
  display: inline-block;
  margin-top: 10px;
  padding: 0 1em;
}

hr {
  border: 0;
  border-top: 5px double #8c8c8c;
}

form {
  text-align: left;
}

fieldset {
  border: none;
  padding: 0;
}

.contact_information {
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.wrap input {
  width: 100%;
}

/* The rules below will remove the default blue highlighting of
   an input element. */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Removes red box shadow around an input element whenever firefox
   detects an invalid format. */

input:invalid {
    box-shadow: none;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid black;
}

/* The below code is my declared highlighting when targetting
   following input elements. */

input:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  border: 2px solid black;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
 {
  -webkit-box-shadow: inset 0 0 0px 9999px #dcdcdc;
          box-shadow: inset 0 0 0px 9999px #dcdcdc;
}

::-webkit-input-placeholder {
  text-align: right;
  font-family: Merriweather;
  font-style: italic;
  padding-right: 15px;
}

:-ms-input-placeholder {
  text-align: right;
  font-family: Merriweather;
  font-style: italic;
  padding-right: 15px;
}

::-ms-input-placeholder {
  text-align: right;
  font-family: Merriweather;
  font-style: italic;
  padding-right: 15px;
}

::placeholder {
  text-align: right;
  font-family: Merriweather;
  font-style: italic;
  padding-right: 15px;
}

input, textarea, select {
  margin-bottom: 25px;
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
  height: 50px;
  border: none;
  background: #dcdcdc;
  font-family: inherit;
  padding-left: 8px;
}

#postal_code {
  text-transform: uppercase;
  width: 190px;
}

/* Making the label and input on separate lines since the
   postal code input is much shorter. */

label[for="postal_code"] {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  margin-right: 3px
}

.newsletter label {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  bottom: -2px;
}

/* The following will make the radio buttons and checkboxes
   aligned with their corresponding labels. */

input[type="checkbox"],
input[type="radio"] {
  margin-right: 2px;
}

.newsletter input:nth-of-type(5),
.newsletter input:nth-of-type(7) {
  margin-bottom: 40px;
}

#other_topics {
  height: 150px;
  line-height: 1.3;
}

button {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 20px 0;
  background-color: #48d1cc;
  border: none;
  border-radius: 5px;
  font-family: Merriweather;
  color: white;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

button:active {
  -webkit-box-shadow: inset 0 0 2px 2px #00823F;
  box-shadow: inset 0 0 2px 2px #00823F;
  top: 3px;
}

footer {
  background-color: #34495e;
  margin-top: 50px;
  padding: 20px 0;
  color: white;
}

fieldset:first-child legend h2 {
  padding: 20px 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 768px) {

  .wrap input, select {
    float: right;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
    width: 65%;
  }

  .wrap label {
    float: left;
    line-height: 85px;
  }

  main {
    width: 722px;
  }

  .wrap {
    height: 85px;
  }

  .wrap:last-child input {
    position: relative;
    width: 230px !important;
    right: 215.89px;
  }
}
